.about {
	position: relative;
	.phone {
		bottom: 0;
	  top: -35px;
		right: 50px;
		position: absolute;
		background-color: $primary;
		border-radius: 50%;
		width: 70px;
		height: 70px;
		&:hover {
			animation: equalize 1.25s steps(25, end) 0s infinite;
			@keyframes equalize {
				0% {
					transform: scale(0.2);
				}
				25% {
					transform: scale(0.4);
				}
				50% {
						transform: scale(0.8);
				}
				75% {
					 transform: scale(0.4);
				}
				100% {
					 transform: scale(0.2);
				}
			}
		}
	}

	img {
		margin: 15px 0 0 15px;
		cursor: pointer;
	}

	padding-top: 50px;
	background-color: $section-bg;

	.about-content {
		display: flex;
		justify-content: space-around;
		margin: 0 ;
		padding: 100px;

		.text-item {
  			text-align: left;
  			padding: 0 50px;

  			p {
				margin-bottom: 50px;
  			}
		}
		.video-item {
			width: 50%;
		}
	}
	button {
		@include btn($primary);
	}
}

@media screen and (max-width: 1280px) {
	.about {
		.about-content {
			padding: 20px;
		}
	}
}

@media screen and (max-width: 998px) {
	.about {
		.about-content {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		button {
			margin: 0 auto;
			display: flex;
			justify-content: center;
		}
	}
}
