.header {
	position: relative;
	.menu {
		background-color: #000;
		display: flex;
		justify-content: center;
		flex-direction: row;
		height: 65px;

		img {
			padding-right: 20px;
		}
		
		ul {
			display: flex;
			flex-direction: row;
			list-style-type: none;
			margin: 5px 0 5px;

			li {
				line-height: 50px;
				a {
					text-align: center;
					text-decoration: none;
					color: #fff;
					font-size: 13px;
					font-weight: bold;
					text-transform: uppercase;
					padding: 0px 10px 23px 10px;
					&.acitve,
					&:hover{
						border-bottom: 4px solid $primary;
					}
				}
			}
		}
	}

	.header-slider {
		background-position: center;
		background-image: url('../images/header-background.png');
		overflow: hidden;
		padding-top: 30vh;
		width: 100%;
		background-size: cover;
		text-align: center;
		@media screen and (max-width: 550px) {
			padding-top: 5vh;
		}
		h1, h4 {
			line-height: 20px;
			font-size: 48px;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			@media screen and (max-width: 550px) {
					line-height: 30px;
					font-size: 32px;
			}
		}

		h1:nth-child(2) {
			color: $primary;
		}

		button {
			@include btn($primary);
		}

		h4 {
			font-size: 24px;
		}
	}
}

@media screen and (max-width: 998px) {
	.header {
		.hide {
			ul {
				li:nth-child(n+2){
					transform: translateY(-270px);
					transition: .9s ease-out;
					display: none;
				}
			}
		}
		.header-slider {
			padding-top: 10vh;
		}

		.menu {
			height: 100%;
			img {
				padding: 0;
			}

			ul {
				margin-top: 200px;
				display: flex;
				flex-direction: column;
				margin: 0 auto;
				li {
					line-height: 15px;
					margin: 5px;
					text-align: center;
					a {
						font-size: 16px;
						padding: 0;

					}
				}
			}
		}
	}
}
